.jumbotron{
    background-color: transparent !important;
}

.jumbotron .container h1{
    text-align: center;
    color: dimgray;
    background: none;
}

.jumbotron .container h1:hover{
    text-align: center;
    color: mediumseagreen;
}

.jumbotron .container p{
    text-align: center;
}

.btn.btn-primary.btn-lg {
    color: mediumseagreen;
    background-color: dimgrey;
    border-color: mediumseagreen;
}

.btn.btn-primary.btn-lg:hover {
    background-color: mediumseagreen;
    color: dimgrey;
}

#learn-more{
    background: rgba(255,255,255,0.5);
    border: solid 2px mediumseagreen;
    font-size: 2em;
    border-radius: 4px;
    padding: 1em;
}

#learn-more h1{
    text-align: center;
    color: mediumseagreen;
}

#launch{
    text-align: center;
    color: mediumseagreen;
}

body{
    background-image: url("San_Diego_Reflecting_Pond.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}